{% extends 'base.html' %}

{% block title %}
    {% if post %}
    Post edit (pk: {{ post.pk }})
    {% else %}
    Post add
    {% endif %}
{% endblock %}
{% block content %}
{% if form_error %}
<div>
    <h3>{{ form_error }}</h3>
</div>
{% endif %}
<form action="" method="POST"> {# 요청을 어디로 할 건지가 action #}
    {% csrf_token %} {# 입력 후 페이지 소스 보기 새로고침 계속 하면 value가 계속 달라짐 #}
    <div class="form-group">
        <label for="title">제목</label>
        <input class="form-control" type="text" name="title" value="{{ post.title }}"> {# value는 text 타입의 기본 텍스트, request에서 name을 key값으로 받음 #}
    </div>
    <div class="form-group">
        <label for="content">내용</label>
        <textarea name="content" class="form-control" id="content" cols="30" rows="10">{{ post.content }}</textarea> {# 템플릿 태그에서는 값이 따로 없더라도 에러가 안남 #}
    </div>
    <button class="btn btn-primary" type="submit">
        {% if post %}
        수정
        {% else %}
        작성
        {% endif %}
    </button>
</form>
{% endblock %}